# wildcards
.deps
.dirstamp
.libs
*.la
*.lo
*.o
# specific files
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libpo6.pc
/libpo6.upack
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/test-driver
/test/errno
/test/errno.log
/test/errno.trs
/test/io_fd
/test/io_fd.log
/test/io_fd.trs
/test/net/hostname
/test/net/hostname.log
/test/net/hostname.trs
/test/net/ipaddr
/test/net/ipaddr.log
/test/net/ipaddr.trs
/test/net/location
/test/net/location.log
/test/net/location.trs
/test/net/socket
/test/net/socket.log
/test/net/socket.trs
/test/path
/test/path.log
/test/path.trs
/test-suite.log
/test/threads/cond
/test/threads/cond.log
/test/threads/cond.trs
/test/threads/mutex
/test/threads/mutex.log
/test/threads/mutex.trs
/test/threads/rwlock
/test/threads/rwlock.log
/test/threads/rwlock.trs
/test/threads/spinlock
/test/threads/spinlock.log
/test/threads/spinlock.trs
/test/threads/thread
/test/threads/thread.log
/test/threads/thread.trs
/test/time
/test/time.log
/test/time.trs
